{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}
about us
{% endblock %}

{% block content %}
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">About Us</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<div class="text-center mb-4">
                        <h2 class="h2">Buyers And Sellers Are Welcome Here Globally</h2>
                        <div class="rte-setting">
                            <p><strong>belletrade.net are working hard everyday to bring you millions of product globally.</strong></p>
                            <p></p>
                        </div>
                    </div>
               	</div>
            </div>
            <div class="row">
            	<div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="{% static 'frontend/assets/images/about1.jpg' %}" src="{% static 'frontend/assets/images/about1.jpg' %}" alt="About Us" /></div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="{% static 'frontend/assets/images/about2.jpg' %}" src="{% static 'frontend/assets/images/about2.jpg' %}" alt="About Us" /></div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="{% static 'frontend/assets/images/about3.jpg' %}" src="{% static 'frontend/assets/images/about3.jpg' %}" alt="About Us" /></div>
            </div>
            <div class="row">
            	<div class="col-12">
                    <h2>Our mission</h2>
                    <p>
                        our mission is to make it easy to do business globally.</p>
                <h2>Anytime, Anywhere</h2>
                    <p>as a platform we continue to develop services to help businesses grow globally.</p>
                    <p>whether you are ordering from your phone, desktop or any devices from any supplier globally belletrade is always there to help you</p>
                </div>
            </div>
            
            <div class="row">
            	<div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                	<h2 class="h2">About Belletrade.net</h2>
                    <div class="rte-setting"><p><strong>
                        launch in 2022 as waltrade.org 
                    </strong>
                         .</p>
                    <p>belletrade started as an advertisement company in 2022 turn e-commerce in 2023.</p>
                    <p>
                        .</p></div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                	<h2 class="h2">Contact Us</h2>
                    <ul class="addressFooter">
                        <li><i class="icon anm anm-map-marker-al"></i><p>23 arumoh street apapa lagos nigeria</p></li>
                        <li class="phone"><i class="icon anm anm-phone-s"></i><p>+2348080524832</p></li>
                        <li class="email"><i class="icon anm anm-envelope-l"></i><p>Belletrade55@gmail.com</p></li>
                    </ul>
                    <hr />
                    <ul class="list--inline site-footer__social-icons social-icons">
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                    </ul>
                </div>
            </div>
            
            
        </div>
        
    </div>
    <!--End Body Content-->
    
    {% endblock %}